* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3efe9;
}

.App {
  text-align: center;
}

#App {
  width: 100vw;
  min-height: 100vh;
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#App-container {
  padding: 20vh 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* 
rgb(0 0 0 / 0.2);

black and opacity
 box-shadow: 0 3px 10px rgb(39, 39, 39);
*/
  box-shadow: 0 0 50px #ccc;
}

.btn-card {
  cursor: pointer;
  margin-top: 30px;

  padding: 12px 24px;
  border-radius: 1rem;
  border: 0.5px solid transparent;

  font-weight: 100;
  font-size: calc(7px + 1vmin);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(29, 29, 29);
  background-color: #ece3cd;
}

.btn-card:hover {
  background-color: #ecdab7;
  color: rgba(46, 46, 46, 0.562);
  transition: 1s ease-in-out;
  text-transform: uppercase;
}

/* ---- */

.containerList {
  border: 1px solid #000;
}

.img-box {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
